.schedule-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
    .day-schedule {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .day-lessons {
            display: flex;
            flex-direction: column;
            gap:10px 
        }  
        .day-dates {
            span {
                font-weight: 700;
                font-size: 18px;
            }
            padding-bottom: 10px;
        }
    }
}