<app-date-time-nav-bar 
    title='Щоденник' 
    [daysDiff]="daysDiff" 
    [startDate]="startDate"
    [isFromWeekBegining] = "isFromWeekBegining">
</app-date-time-nav-bar>

<div class="schedule-container">
    <div class="timeline-wrapper">
        <span *ngFor="let day of scheduleDays">
            <div class="day-dates bold">
                <span>{{day.date | date:'EEEE, d MMMM' | ukrainianDate}}</span>
            </div>
            <ul class="step-progress">
                <li  *ngFor="let item of day.schedules" class="step-progress-item" [ngClass]="[getClassForTimeLine(item.startTime, item.endTime)]" [ngStyle]="{'$time': '50'}">
                    <div class="left-part">
                        <div class="bold time">
                            <span>{{item.startTime | date: 'H:mm'}}</span>
                            <span>{{item.endTime | date: 'H:mm'}}</span>
                        </div>
                    </div>
                    <app-schedule-card [schedule]="item"></app-schedule-card>
                </li>
            </ul>
        </span>
    </div>
</div>