<app-date-time-nav-bar 
    title='Щоденник' 
    [daysDiff]="daysDiff" 
    [startDate]="startDate"
    [isFromWeekBegining] = "isFromWeekBegining"
    (dateRangeChange)="onDateRangeChanged($event)">
</app-date-time-nav-bar>

<div class="schedule-container">
    <div class="day-schedule" *ngFor="let day of scheduleDays">
        <div class="day-dates">
            <span>{{day.date | date:'EEEE, d MMMM' | ukrainianDate}}</span>
        </div>
        <div class="day-lessons" *ngFor="let item of day.schedules">
            <app-schedule-card [scheduleAttendance] = "item" [homework] = "getHomework(item.scheduleId)"></app-schedule-card>
        </div>
    </div>
</div>  