.tasks-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    .filter {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 10px;
        box-shadow: 0px 0px 5px black;
        border-radius: 15px;
        margin-right: 50px;
        align-self: flex-start;

        .filter-title {
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
    .tasks {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .tasks-day {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            min-width: 500px;
            
            .day-title {
                span {
                    font-weight: 700;
                    font-size: 20px;
                }
                padding-bottom: 5px;
            }
            .day-tasks {
                display: flex;
                flex-direction: column;
            }

            .zero-tasks-count {
                font-size: 22px;
                color: grey;
                margin-top: 50px;
            }
        }
    }
}

 .not-done {
    --mdc-checkbox-selected-focus-icon-color: #DE0000;
    --mdc-checkbox-selected-hover-icon-color: #DE0000;
    --mdc-checkbox-selected-icon-color: #DE0000;
    --mdc-checkbox-selected-pressed-icon-color: #DE0000;
    --mat-mdc-checkbox-checked-ripple-color: #DE0000;
    --mdc-checkbox-unselected-focus-icon-color: #DE0000;
    --mdc-checkbox-unselected-icon-color:  #DE0000;
    --mdc-checkbox-unselected-hover-icon-color: #DE0000;
}

.wait-for-check {
    --mdc-checkbox-selected-focus-icon-color: #DEAE77;
    --mdc-checkbox-selected-hover-icon-color: #DEAE77;
    --mdc-checkbox-selected-icon-color: #DEAE77;
    --mdc-checkbox-selected-pressed-icon-color: #DEAE77;
    --mat-mdc-checkbox-checked-ripple-color: #DEAE77;
    --mdc-checkbox-unselected-focus-icon-color: #DEAE77;
    --mdc-checkbox-unselected-icon-color:  #DEAE77;
    --mdc-checkbox-unselected-hover-icon-color: #DEAE77;
}

.checked {
    --mdc-checkbox-selected-focus-icon-color: #80BBA0;
    --mdc-checkbox-selected-hover-icon-color: #80BBA0;
    --mdc-checkbox-selected-icon-color: #80BBA0;
    --mdc-checkbox-selected-pressed-icon-color: #80BBA0;
    --mat-mdc-checkbox-checked-ripple-color: #80BBA0;
    --mdc-checkbox-unselected-focus-icon-color: #80BBA0;
    --mdc-checkbox-unselected-icon-color:  #80BBA0;
    --mdc-checkbox-unselected-hover-icon-color: #80BBA0;
}

::ng-deep.mat-mdc-checkbox .mdc-form-field {
    font-weight: 500;
}

