<app-date-time-nav-bar 
    title='Завдання' 
    [daysDiff]="daysDiff" 
    [startDate]="startDate"
    [isFromWeekBegining] = "isFromWeekBegining"
    (dateRangeChange)="onDateRangeChanged($event)">

</app-date-time-nav-bar>

<div class="tasks-container">
    <div class="filter">
        <section class="example-section" [formGroup]="tasksFilter">
        <h4 class="filter-title">Обери тип завдання</h4>
        <p><mat-checkbox formControlName="isHomeWork" (ngModelChange)="filterTasks()" color="primary">Домашка</mat-checkbox></p>
        <p><mat-checkbox formControlName="isControlWork" (ngModelChange)="filterTasks()" color="primary">Контрольні</mat-checkbox></p>
        <p><mat-checkbox formControlName="isClassWork" (ngModelChange)="filterTasks()" color="primary">Самостійні</mat-checkbox></p>
        <p><mat-checkbox formControlName="isAdditionalWork" (ngModelChange)="filterTasks()" color="primary">Індивідуальні</mat-checkbox></p>

        <h4 class="filter-title">Обери статус завдання</h4>
        <p><mat-checkbox formControlName="isNotDone" (ngModelChange)="filterTasks()" color="primary"
            [ngClass]="{'not-done': true}">Не здані</mat-checkbox></p>
        <p><mat-checkbox formControlName="isWaitForCheck" (ngModelChange)="filterTasks()" color="primary"
            [ngClass]="{'wait-for-check': true}">Очікують на перевірку</mat-checkbox></p>
        <p><mat-checkbox formControlName="isChecked" (ngModelChange)="filterTasks()" color="primary"
            [ngClass]="{'checked': true}">Перевірені</mat-checkbox></p>
        </section>
    </div>
    <div class="tasks">
        <div class="tasks-day" *ngFor="let day of filteredTasks">
            <div class="day-title">
                <span>{{day.date | date:'d MMMM' | ukrainianDate}}</span>
            </div>
            <div class="day-tasks" *ngFor="let task of day.tasks">
                <app-task-card [task]="task"></app-task-card>
            </div>
        </div>
        <div class="tasks-day" *ngIf="filteredTasks.length === 0">
            <span class="zero-tasks-count">Завдань немає =)</span>
        </div>
    </div>
</div>

