.comment-card-container {
    display: flex;
    flex-direction: row;
    .avatar {
        //background-color: grey;
        align-self: flex-start;
        .image {
            border-radius: 50%;
            border: 2px solid black;
            width: 40px;
            height: 40px;

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }

    .comment {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        padding: 0px 10px;

        .author-name {
            font-weight: 500;
        }
        .comment-bottom {
            display: flex;
            flex-direction: row;
            color: grey;
            .comment-time {
                padding-right: 10px;
            }
            .comment-action {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 5px;
            }
            .comment-action:hover {
                cursor: pointer;
                color: black;
            }
            .mat-icon {
                height: 14px;
                width: 14px;
            }
            .mat-icon:hover {
                color: black;
            }
            .material-icons {
                font-size: 14px;
            }
        }
    }
}