<div class="comment-card-container" *ngIf="comment">
    <div class="avatar">
        <div class="image">
            <img src="../../../../assets/default-avatar.png">
        </div>
    </div>
    <div class="comment">
        <div class="author-name" *ngIf="comment.shortUserInfo">
            <span>{{comment.shortUserInfo.firstName}} {{comment.shortUserInfo.lastName}}</span>
        </div>
        <div class="comment-body">
            <span>{{comment.comment}}</span>
        </div>
        <div class="comment-bottom">
            <span class="comment-time">5хв тому</span>
            <span class="comment-action"
            *ngIf="canReply"
            (click)="
                    setActiveComment.emit({
                        id: comment.studentTaskCommentId,
                        type: activeCommentType.replying
                    })
                    ">Відповісти</span>
            <span class="comment-action" 
                *ngIf="canEdit"
                (click)="
                    setActiveComment.emit({
                        id: comment.studentTaskCommentId,
                        type: activeCommentType.editing
                    })
                    ">
                <!--<span>Змінити</span>-->
                <mat-icon>edit</mat-icon>
            </span>
            <span class="comment-action" *ngIf="canDelete">
                <!--<span>Видалити</span>-->
                <mat-icon>delete</mat-icon>
            </span>
        </div>
        <app-comment-form 
        *ngIf="isReplying()"
        submitLabel="Відповісти"
        (handleSubmit)="addComment.emit({ text: $event, commentParentId: replyId })"
        (cancelClicked)="onCancelClicked()">
        </app-comment-form>
        <div *ngIf="replies.length > 0">
            <app-comment-card
                *ngFor="let reply of replies"
                [comment]="reply"
                (setActiveComment)="setActiveComment.emit($event)"
                [activeComment]="activeComment"
                (addComment)="addComment.emit($event)"
                [parentId]="comment.studentTaskCommentId"
                [replies]="[]">
            </app-comment-card>
        </div>
    </div>
</div>
