<div class="card">
    <div class="time-range">
        <span>
            {{scheduleAttendance?.startTime | date: 'H:mm'}}
        </span>
        <span>
            {{scheduleAttendance?.endTime | date: 'H:mm'}}
        </span>
    </div>
    <div class="card-title-main-info"> 
        <span class="subject-title">{{scheduleAttendance?.subjectName}}</span>
        <span class="subject-place-info" (click)="openSubjectLink(scheduleAttendance?.place)">[Відкрити посилання]</span>
    </div>
    <div class="card-title-additional-info"> 
        <span class="home-work">Домашка</span>
        <span class="home-work">Тут буде домашка, тут буде домашка, тут буде домашка.</span>
    </div>
    <div class="attendance">
        <div *ngIf="scheduleAttendance?.status === 1" class="attendance-n">
            <span>Н</span>
        </div>
        <div *ngIf="scheduleAttendance?.status === 2" class="attendance-x">
            <span>Х</span>
        </div>
    </div>
</div>
