<mat-toolbar style="height:56px;">
    <div class="left-part" fxHide.gt-xs>
        <button *ngIf="openSidenavFlag" mat-icon-button class="menu" (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>School MS</span>
    </div>
    <div class="center-part" *ngIf="!openSidenavFlag">
        <div class="nav-item" [routerLink]="['schedule']" [routerLinkActive]="['is-active']">
            <mat-icon>timer</mat-icon>
            <span>Щоденник</span>
        </div>
        <div class="nav-item" [routerLink]="['tasks']" [routerLinkActive]="['is-active']">
            <mat-icon>work_outline</mat-icon>
            <span>Завдання</span>
        </div>
        <div class="nav-item">
            <mat-icon> table_chart</mat-icon>
            <span>Журнал</span>
        </div>
        <div class="nav-item">
            <mat-icon> sentiment_satisfied_alt</mat-icon>
            <span>Відвідуваність</span>
        </div>
    </div>
    <div class="right-part">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>person_outline</mat-icon>
          </button>
    </div>
</mat-toolbar>

<mat-sidenav-container (window:resize)="onResize($event)">
    <mat-sidenav mode="over" [opened]="isShowing">
        <div class="nav-item" [routerLink]="['schedule']" [routerLinkActive]="['is-active']">
            <mat-icon>timer</mat-icon>
            <span>Щоденник</span>
        </div>
        <div class="nav-item" [routerLink]="['tasks']" [routerLinkActive]="['is-active']">
            <mat-icon>work_outline</mat-icon>
            <span>Завдання</span>
        </div>
        <div class="nav-item">
            <mat-icon> table_chart</mat-icon>
            <span>Журнал</span>
        </div>
        <div class="nav-item">
            <mat-icon> sentiment_satisfied_alt</mat-icon>
            <span>Відвідуваність</span>
        </div>
    </mat-sidenav>

    <router-outlet></router-outlet>

</mat-sidenav-container>