<div class="card">
    <div class="time-range">
        <span>
            {{schedule?.startTime | date: 'H:mm'}}
        </span>
        <span>
            {{schedule?.endTime | date: 'H:mm'}}
        </span>
    </div>
    <div class="card-title-main-info"> 
        <span class="subject-title">{{schedule?.subjectName}} ({{schedule?.classNumber}} {{schedule?.classLetter}} клас)</span>
        <span class="subject-place-info" (click)="openSubjectLink(schedule?.place)">[Відкрити посилання]</span>
    </div>
    <div class="card-title-additional-info">
        
            <span class="home-work" *ngIf="planning"><b>Тема: </b></span>
            <span class="home-work">{{ this.planning }}</span>
    </div>
    <div class="attendance">
        <div  class="attendance-n">
            <span>Н</span>
        </div>
    </div>
</div>
