<div class="task-card-container" (click)="taskClick()">
    <div class="task-type">
        <span>{{task.taskType | taskType}}</span>
    </div>
    <div class="card">
        <div class="card-title">
            <span class="subject">{{task.subjectTitle}}</span>
        </div>
        <div class="card-body">
            <span>{{task.title}}</span>
        </div>
    </div>
    <div class="task-status" [ngStyle]="{'background': statusBgColor}">
        <span *ngIf="task.isChecked; else isNotChecked">
            <span *ngIf="task.gradeValue; else isNotGrade">Оцінено:  {{task.gradeValue}}/10</span>
            <ng-template #isNotGrade>Перевірено</ng-template>
        </span>
        <ng-template #isNotChecked>
            <span *ngIf="task.isDone">Здано. Очікується перевірка</span>
            <span *ngIf="!task.isDone">Не здано</span>
            <span *ngIf="!task.isDone && draftAttachments !==0 " class="attachment-draft"> 
                <mat-icon> attach_file</mat-icon>
                <span style="font-size: 18px;">{{draftAttachments}}</span>
             </span>
        </ng-template>
    </div>
</div>
