<div class="comments-container">
    <span>Коментарі</span>
    <span *ngFor="let comment of comments">
        <app-comment-card *ngIf="!comment.commentParentId"
        [comment]="comment"
        [replies]="getReplies(comment.studentTaskCommentId)"
        (setActiveComment) = "setActiveComment($event)"
        (addComment)="addComment($event.text, $event.commentParentId)"
        (updateComment)="updateComment($event.text, $event.commentId)"
        (deleteComment)="deleteComment($event)"
        [activeComment] = "activeComment">
    </app-comment-card>
    </span>
    <app-comment-form submitLabel="Надіслати"
        (handleSubmit)="addComment($event, undefined)">
    </app-comment-form>
</div>

